<ul class="list-unstyled">
    <li>
        <span class="label label-pill label-primary">{{ widget.data.products[0].sold }}</span> {{ widget.data.products[0].name }}
    </li>
    <li>
        <span class="label label-pill label-info">{{ widget.data.products[1].sold }}</span> {{ widget.data.products[1].name }}
    </li>
    <li>
        <span class="label label-pill label-success">{{ widget.data.products[2].sold }}</span> {{ widget.data.products[2].name }}
    </li>
    <li>
        <span class="label label-pill label-warning">{{ widget.data.products[3].sold }}</span> {{ widget.data.products[3].name }}
    </li>
    <li>
        <span class="label label-pill label-danger">{{ widget.data.products[4].sold }}</span> {{ widget.data.products[4].name }}
    </li>
</ul>